.container {
  display: grid;
  grid: 100% / 100%;
  z-index: 0;
  overflow-inline: clip;
  overflow-block: auto;
  container-type: inline-size;
}


.body {
  grid-area: 1 / 1;
  inline-size: 100%;
  block-size: fit-content;
  padding-inline: 2em;
  padding-block-end: 5em;
  background: linear-gradient(180deg, transparent, transparent 90vh, #333 90vh, #333);

  @container (inline-size >=600px) {
    padding-inline-start: 7.5em;
  }
}

.nav {
  grid-area: 1 / 1;
  display: none;
  grid-auto-flow: row;
  align-content: start;
  inline-size: 7.5em;
  padding: 1em;
  position: sticky;
  inset-block-start: 0;

  @container (inline-size >=600px) {
    display: grid;
  }
}