.play {
    font-size: var(--size-7);
    text-shadow: 0 0 .5rem #000;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: var(--radius-2);
    
    transition: background-color .2s var(--ease-in-out-1);

    &:hover {
        background-color: rgba(from var(--gray-2) r g b / .25);
    }
}