.page {
    contain: layout style paint;
    display: block grid;
    grid: minmax(0, 1fr) / minmax(0, 1fr);

    inline-size: 100%;
    block-size: 100%;

    & > figure {
        inline-size: 100%;
        block-size: 100%;
    }
}