.container {
  display: grid;
  grid: auto auto / auto auto;
  grid-template-areas:
    "heading metadata"
    "list list";
  justify-content: space-between;
  inline-size: 100%;
}

.heading {
  grid-area: heading;
  font-size: 2em;
}

.metadata {
  grid-area: metadata;
  opacity: 0.6;
}

.list {
  grid-area: list;
  list-style-type: none;

  container-type: inline-size;
  display: grid;
  grid-auto-flow: column;

  gap: 2em;
  padding: 12em 4em 5em;
  scroll-padding: 4em;
  margin: -10em -4em 0em;

  overflow: visible auto;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  /* the before and afters have unsnappable elements that create bouncy edges to the scroll */
  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    inline-size: 15cqi;
  }

  &::after {
    inline-size: 100cqi;
  }

  & > li {
    scroll-snap-align: start;
    container-type: scroll-state;
    padding: 0;
    position: relative;
    isolation: isolate;

    z-index: calc(var(--sibling-count) - var(--sibling-index));

    &:has(> :hover, > :focus-within) {
      z-index: calc(var(--sibling-count) + 1);
    }

    & > * {
      @supports (animation-timeline: view()) {
        @media (prefers-reduced-motion: no-preference) {
          animation: slide-in linear both;
          animation-timeline: view(inline);
          animation-range: cover -100cqi contain 15cqi;
        }
      }
    }
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100cqi) scale(0.5);
  }
}
